<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>This is list product</h1>
    <ul>
        <li th:each="product : ${products}">
            <span th:text="${product.name}"></span>
            <a href="#" class="add-cart" th:id="${product.id}">Add cart</a>
        </li>
    </ul>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            $('.add-cart').click(function () {
                var productId = $(this).attr('id');
                $.ajax({
                    url: '/cart/add?productId=' + productId + '&quantity=1',
                    type: 'POST',
                    success: function (data) {
                        alert(data);
                    },
                    error: function () {
                        alert('Not okie.');
                    }
                });
            });
        })
    </script>
</body>
</html>